<div>
  <div>
    <%= form_for @product do |f| %>
      <div>
        <%= f.label :name %><br>
        <%= f.text_field :name %><br>
      </div>
      <div>
        <%= f.label :price %><br>
        <%= f.text_field :price %><br>
      </div>
      <div>
        <%= f.label :inventory %><br>
        <%= f.text_field :inventory %><br>
      </div>
      <div>
        <%= f.label :description %><br>
        <%= f.text_area :description %><br>
      </div>
      <%= f.submit "submit" %>
    <% end %>
  </div>
</div>
